@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,700,800);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
  color: #fffce1;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Raleway', Arial, sans-serif;
}

p {
  color: #4e4a46;
  text-decoration: none;
  outline: none;
  margin: 0px;
}

p:hover, p:focus {
  color: #c94e50;
  outline: none;
}

button:focus {
  outline: none;
}

section {
  padding: 1em;
  text-align: center;
}

/* Header */
.title {
  margin: 0px auto 50px auto;
  padding: 80px 32px;
  text-align: center;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1609106/lake-shadow-water.jpg);
  background-position: top;
  background-size: auto 300px;
  background-repeat: no-repeat;
}

.title h1 {
  margin: 0px auto;
  font-weight: 800;
  font-size: 3.75em;
  line-height: 1;
}

.chart_container{
  background-color: #fff;
  border-radius: 5px;
  width: 45%;
  height: 250px;
  margin: 0px 2.5% 20px 2.5%;
  float: left;
  padding: 10px;
  overflow: hidden;
}

.description {
  position: relative;
  width: 200%;
  height: 200%;
  top: -150%;
  left: -50%;
  border-radius: 5px;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
  transition: transform 3s;
}

.titleDescription {
  position: relative;
  width: 200%;
  height: 200%;
  top: -349%;
  left: -50%;
  background: linear-gradient(#000, #111);
  border-radius: 5px;
  -webkit-transform: rotate(290deg) translateY(-50%);
  transform: rotate(290deg) translateY(-50%);
  transition: transform 3s;
}

.chart_container p{
  color: #fff;
  transition: opacity 6s;
}

.chart_container p.hover{
  opacity: 0;
  transition: opacity 0.1s;
}

.titleDescription.hover {
  transform: translateX(-1000%) translateY(-100%);
}

.description.hover {
  transform: translateX(1000%) translateY(100%);
}

.description.ccH {
  background: linear-gradient(#af19f5, #2711f1);
}

.description.ccT {
  background: linear-gradient(#40e0d0, #25fde9);
}

.description.ccPF1 {
  background: linear-gradient(#ed0000, #ff6961);
}

.description.ccPF2 {
  background: linear-gradient(#5d9b9b, #b0f2b6);
}

.description.ccPr {
  background: linear-gradient(#ffb347, #fdfd96);
}

.description.ccA {
  background: linear-gradient(#9e0e40, #fd6c9e);
}

.description.ccD {
  background: linear-gradient(#582900, #e0cda9);
}

.titleDescriptionText{
  position: relative;
  top: -470%;
  height: 100%;
  width: 50%;
  font-size: 35px;
}

.descriptionText{
  height: 100%;
  width: 45%;
  text-align: right;
}

.descriptionText.ccH{
  position: relative;
  top: -575%;
  left:55%;
}

.descriptionText.ccT{
  position: relative;
  top: -565%;
  left:55%;
  color: #000;
}

.descriptionText.ccPF1{
  position: relative;
  top: -580%;
  left:55%;
}

.descriptionText.ccPF2{
  position: relative;
  top: -575%;
  left:55%;
  color: #000;
}

.descriptionText.ccPr{
  position: relative;
  top: -570%;
  left:55%;
  color: #000;
}

.descriptionText.ccA{
  position: relative;
  top: -560%;
  left:55%;
}

.descriptionText.ccD{
  position: relative;
  top: -570%;
  left:55%;
}

@media screen and (max-width: 32em) {
  body {
    font-size: 60%;
  }

  .title {
    padding: 40px 16px;
  }

  .chart_container{
    width: 90%;
    margin: 0px 5% 20px 5%;
  }
}

@media screen and (min-width: 32em) and (max-width: 64em) {
  body {
    font-size: 80%;
  }

  .title {
    padding: 60px 32px;
  }

  .chart_container{
    width: 90%;
    margin: 0px 5% 20px 5%;
  }
}